<div class="page-wrap">
  {% block headerContent %}
    {% include '_partials/headerNoCarousel' %}
  {% endblock %}

  {% block contentLayout %}
    {% embed '_layouts/content/default' %}
    {% endembed %}
  {% endblock %}
</div>
{% block footerContent %}
  {% include '_partials/footer' %}
  {% include '_partials/cookies' %}
{% endblock %}
