.referencia {
  padding: 1em;

  &:nth-child(2n - 1) {
    background-color: #EEEEEE;
  }

  h2 {
    margin-top: 0;
    margin-bottom: .2em;
  }

  .plusy,
  .minusy {
    display: flex;
  }

  .note {
    margin-top: .3em;
  }

  svg {
    max-width: 22px;
    margin: 0 14px 0 0;
  }

  .green {
    fill: #008000;
  }

  .red {
    fill: #ff0000;
  }

  .gold {
    fill: gold;
    margin: 0 1px 0 0;
    max-width: 18px;
  }

}

.pridat-referenciu {
  margin: 1em 0;
  display: block;
}

.pridat-referenciu-form {
  height: 0;
  background-color: #f5f5f5;
  transition: all .5s;
  overflow: hidden;
  visibility: hidden;

  &.open {
    padding: 1.5em 1em;
    height: 580px;
    visibility: visible;
    margin-bottom: 2em;
  }
}

// Referencie swiper

.referencie-wrap {
  background-color: #464646;
  padding: 2em 0;

  h2 {
    margin-top: 0;
  }

  .referencie-swiper {
    padding-bottom:50px;

    .swiper-slide {
      background-color: rgba(#fff, 1);
      box-shadow: 0 0 3px rgba(0, 0, 0, 1);
      padding: 1em;
      min-height: 300px;

      h2 {
        margin-top: 0;
        margin-bottom: .2em;
        font-size: 1.1em;
      }
    
      .plusy,
      .minusy {
        display: flex;
        font-size: .9em;
      }
    
      .note {
        margin-top: .3em;
        font-size: .8em;
      }
    
      svg {
        max-width: 22px;
        margin: 0 14px 0 0;
      }
    
      .green {
        fill: green;
      }
    
      .red {
        fill: red;
      }
    
      .gold {
        fill: gold;
        margin: 0 1px 0 0;
        max-width: 18px;
      }
    }
  }
}

.referencie-widget {
  position: sticky;
  bottom: 10px;
  left: 10px;
  padding: 8px 15px;
  background-color: #363636;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;

  .rating {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
  }

  .star {
    width: 20px;
    color: #fff;
  }

  p {
    margin-bottom: .2em;
  }

  .small {
    color: #fff;
    font-size: .8em;
    margin-bottom: .5em;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: .8em;
    text-align: right;
  
    &:hover {
      text-decoration: underline;
    }

    img {
      padding-left: .3em;
      width: 60px;
    }
  }
}
