{% if entry is defined %}

  {% set default = craft.entries.section('pages').id(2518).one() %}
  {% set slides = entry.carouselSlides|length ? entry.carouselSlides.all : default.carouselSlides.all %}

  <!-- Slider main container -->
  <div class="hp-swiper swiper-container absolute left-0 top-0 w-full h-full overflow-hidden">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for slide in slides %}
        <div class="swiper-slide">
          {% set image = slide.image.one() %}
          {# {% if slide.imageLink|length %}
            <a href="{{ slide.imageLink }}">
          {% endif %} #}
            <img class="!max-w-none w-full h-full object-cover" src="{{ image.url('carousel') }}" alt="{{ image.alternativeText|length ? image.alternativeText|length : image.title }}" />
          {% if slide.caption %}
            <div class="caption absolute bottom-0 left-0 w-full bg-black/50 py-4">
              <div class="lg:container px-4">
                <h2 class="text-white font-semibold font-secondary !text-3xl uppercase">
                  {{ slide.caption }}
                </h2>
              </div>
            </div>        
          {% endif %}
          {# {% if slide.imageLink|length %}
            </a>
          {% endif %} #}
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    {# <div class="swiper-pagination"></div> #}

    <!-- If we need navigation buttons -->
    {#<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> #}

    {% include '_partials/carouselJs' %}
  </div>
{% endif %}