<div class="cookies hide">
  <p>Firma FUTURUM MMI, s.r.o. využíva technológiu cookies na účely zaznamenávania informácií o Vašich záujmoch.</p>
  <div class="btn-wrap center">
    <a href="#" onclick="setCookie(event, 'clicklinks', 'yes', 30)" class="btn btn-cookies small">Súhlasím</a>
  </div>
</div>