{% if block.zobrazitKontakt %}
</div></div></div></div></div>
<section class="contact-buttons-section bg-[#515251] py-6">
  <div class="lg:container px-4">
    <div class="contact-buttons md:flex flex-wrap justify-center items-center gap-8">
      <p class="text-[#e8e8e8] !text-xl font-semibold mr-4 text-center md:text-left mb-4 md:!mb-0">MÁŠ ZÁUJEM ?</p>
      <div class="btn-wrap">
        <a data-fancybox="kontakt" data-src="#kontakt" class="btn mb-4 md:mb-0 cursor-pointer bg-brand-green hover:bg-brand-green/70 duration-200 mx-auto md:mx-0">Kontaktuj majiteľa</a>
      </div>
      <div class="btn-wrap">
        <a data-fancybox="kontakt" data-src="#rezervacia" class="btn btn mb-4 md:mb-0 cursor-pointer bg-brand-green hover:bg-brand-green/70 duration-200 mx-auto md:mx-0">Rezervácia</a>
      </div>
      {# <div class="btn-wrap">
        <a data-fancybox="rezervacia" data-src="#rezervacia" class="btn green">Zarezervuj pobyt</a>
      </div> #}
    </div>
  </div>
</section>

<div class="default-content"><div class="lg:container px-4">

{% endif %}
